* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    background-color: grey;
}

h1 {
    text-align: left;
    justify-content: center;
}

li {
    display: inline;
    font-size: 40px;
}